{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}"/>
  <link rel="shortcut icon" type="image/jpg" href={% static "hdd-stack.ico" %}/>
  <link rel="stylesheet" type="text/css" href="{% static "homePage/style.css" %}"/>
  <title>transferStation</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand text-dark" href="/">文件中转站</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="airportal">airportal</a>
  </nav>
</div>

<div class="container">
  <div>
    <h2>取件</h2>
    <form class="form-inline" method="get" action="airDownload">
      <label class="m-1" for="code">输入六位取件码</label>
      <input class="form-control m-1" type="text" name="code" id="code">
      <button class="btn btn-primary m-1" type="submit">取件</button>
    </form>
  </div>
  <hr class="m-5">
  <div class="">
    <h2>发件</h2>
    <form class="" method="post" action="airportal" id="formUploadFile">
      {% csrf_token %}
      <div class="form-group row ">
        <label class="col-sm-2 col-form-label" for="fileToUpload">donwloads</label>
        <div class="col-sm-10">
          <input class="form-control " id="downloads" name="downloads" type="number" value="2">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="hours">hours</label>
        <div class="col-sm-10">
          <input class="form-control" id="hours" name="hours" type="number" value="24">
        </div>
      </div>
      <div class="form-group">
        <div class="custom-file">
          <input id="fileToUpload" name="file" type="file" class="custom-file-input" onchange="fileSelected()">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div>
      <div id="fileName"></div>
      <div id="fileSize"></div>
      <div id="fileType"></div>
      <progress id="progressNumber" class="d-none" value="0" max="100"></progress>
      <input class="btn btn-primary my-2 d-block m-auto" type="button" onclick="uploadAirportalFile()" value="上传"/>
    </form>
  </div>
</div>


<script src="{% static "jquery.min.js" %}"></script>
<script src="{% static "bootstrap.bundle.min.js" %}"></script>
<script src="{% static "homePage/script_airportal.js" %}"></script>
</body>
</html>