{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "homePage/style.css" %}"/>
  <title>transferStation</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand text-dark" href="/">文件中转站</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="airportal">airportal</a>
    {#    <a class="p-2 text-dark" href="#">Enterprise</a>#}
    {#    <a class="p-2 text-dark" href="#">Support</a>#}
    {#    <a class="p-2 text-dark" href="#">Pricing</a>#}
  </nav>
</div>

<script src="{% static "jquery.min.js" %}"></script>
<script src="{% static "bootstrap.bundle.min.js" %}"></script>
{#<script src="{% static "coco-message.min.js" %}"></script>#}
{#<script src="{% static "clipboard.min.js" %}"></script>#}
<script src="{% static "homePage/script.js" %}"></script>
</body>
</html>