{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "homePage/style.css" %}"/>
  <title>transferStation</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand text-dark" href="/">文件中转站</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="airportal">airportal</a>
    {#    <a class="p-2 text-dark" href="#">Enterprise</a>#}
    {#    <a class="p-2 text-dark" href="#">Support</a>#}
    {#    <a class="p-2 text-dark" href="#">Pricing</a>#}
  </nav>
</div>
<div class="container text-center">
  <div class="container">
    <h2 class="m-t-4 p-4">文字复制</h2>
    <form class="form-group" action="/" method="post">
      {% csrf_token %}
      <textarea class="form-control m-3 mx-auto w-75 bg-white" id="text" name="text" rows="5" readonly
                autocomplete="off">{{ text }}</textarea>
      <button id="text_copy_button" class="btn btn-primary" type="button" data-clipboard-target="#text"
              data-clipboard-action="copy">复制
      </button>
      <button id="text_edit_enable_button" class="btn btn-primary" type="button" onclick="textEditEnable()">编辑</button>
      <button id="text_update_button" class="d-none btn btn-primary" type="submit">确认</button>
      <button id="text_edit_disable_button" class="d-none btn btn-secondary" type="button" onclick="textEditDisable()">
        取消
      </button>
    </form>
  </div>

  <hr>
  <div class="containor">
    <h2 class="m-t-4 p-4">文件列表</h2>
    <div class="containor">
      <form class="form" id="formUploadFile" enctype="multipart/form-data" action="{% url 'upload' %}" method="POST">
        {% csrf_token %}
        <div class="file">
          <input id="fileToUpload" name="file" type="file" onchange="fileSelected()">选择文件
        </div>
        <div id="fileName"></div>
        <div id="fileSize"></div>
        <div id="fileType"></div>
        <div class="">
          <input class="btn btn-primary" type="button" onclick="uploadFile()" value="上传"/>
        </div>
        <div id="progressNumber"></div>
      </form>
    </div>
    <ul class="list-group text-left containor-fl font-weight-bold m-4">
      {% for file in file_list %}
        <li class="list-group-item ">
          <form class="d-flex justify-content-between" action="/delete/{{ file.content.name }}" method="post">
            {% csrf_token %}
            <a class="align-self-center" href="{{ file.content.url }}">{{ file.content.name }}</a>
            <button class="btn btn-warning ">delete</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<script src="{% static "jquery.min.js" %}"></script>
<script src="{% static "bootstrap.bundle.min.js" %}"></script>
<script src="{% static "coco-message.min.js" %}"></script>
<script src="{% static "clipboard.min.js" %}"></script>
<script src="{% static "homePage/script.js" %}"></script>
</body>
</html>