{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "homePage/style.css" %}"/>
  <link rel="shortcut icon" type="image/jpg" href={% static "hdd-stack.ico" %}/>
  <title>transferStation</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand text-dark mr-auto" href="/">文件中转站</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="airportal">airportal</a>
    {#    <a class="p-2 text-dark" href="#">Enterprise</a>#}
    {#    <a class="p-2 text-dark" href="#">Support</a>#}
    {#    <a class="p-2 text-dark" href="#">Pricing</a>#}
  </nav>
</div>
<div class="container text-center">
  <div class="container">
    <h2 class="m-t-4 p-4">文字复制</h2>
    <form class="form-group" action="/" method="post">
      {% csrf_token %}
      <textarea class="form-control m-3 mx-auto w-75 bg-white textarea-resize-none"
                id="text" name="text" rows="5" readonly
                autocomplete="off">{{ text }}</textarea>
      <button id="text_copy_button" class="btn btn-primary" type="button" data-clipboard-target="#text"
              data-clipboard-action="copy">复制
      </button>
      <button id="text_edit_enable_button" class="btn btn-secondary" type="button" onclick="textEditEnable()">编辑
      </button>
      <button id="text_update_button" class="d-none btn btn-primary" type="submit">确认</button>
      <button id="text_edit_disable_button" class="d-none btn btn-secondary" type="reset" onclick="textEditDisable()">
        取消
      </button>
    </form>
  </div>
  <hr>
  <h2 class="m-t-4 p-4">图片复制</h2>
  <p>用于截屏或者手机拍照</p>
  <form action="/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <img class="w-50 img-fluid " src="{{ image_url }}">
    </div>
    <div class="form-group">
      ctrl-v 粘贴屏幕截图
    </div>
    <div class="form-group">
      或
    </div>
    <div class="form-group">
      <div class="custom-file w-auto">
        <input class="custom-file-input" id="cameraImage" name="img" type="file" accept="image/*" capture="camera"
               onchange="fileSelected(this)">
        <label class="custom-file-label" for="cameraImage"></label>
      </div>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <p class="d-none"></p>
    <input class="btn btn-primary" type="button" onclick="uploadFile(this)" value="上传"/>
  </form>
  <hr>
  <h2 class="m-t-4 p-4">文件列表</h2>
  <form class="form" enctype="multipart/form-data" action="{% url 'upload' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <div class="custom-file w-50">
        <input class="custom-file-input" name="file" type="file" onchange="fileSelected(this)">
        <label class="custom-file-label"></label>
      </div>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <p class="d-none"></p>
    <input class="btn btn-primary my-2 d-block m-auto" type="button" onclick="uploadFile(this)" value="上传"/>
  </form>
  <ul class="list-group text-left containor-fl font-weight-bold m-4">
    {% for file in file_list %}
      <li class="list-group-item ">
        <form class="d-flex justify-content-between" action="/delete/{{ file.content.name }}" method="post">
          {% csrf_token %}
          <a class="align-self-center overflow-auto m-2" href="{{ file.content.url }}">{{ file.content.name }}</a>
          <button class="btn btn-warning ">delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>
</div>
<script src="{% static "jquery.min.js" %}"></script>
<script src="{% static "bootstrap.bundle.min.js" %}"></script>
<script src="{% static "coco-message.min.js" %}"></script>
<script src="{% static "clipboard.min.js" %}"></script>
<script src="{% static "homePage/script.js" %}"></script>
</body>
</html>